html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

@font-face {
    font-family: 'cnl-bold-italic';
    src: url(fonts/Champagne%20&%20Limousines%20Bold%20Italic.woff) format('woff');
}

@font-face {
    font-family: 'Ptah';
    src: url(fonts/Ptah-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Hack';
    src: url(fonts/hack-regular-webfont.woff) format('woff');
}

body {
    font-family: 'Hack', sans-serif;
    font-size: 1.4rem;
    overflow: hidden;
}

ng-view {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ptah', sans-serif;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

a {
    transition: color 100ms ease-out;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0091ea;
}

.menu {
    position: fixed;
}

.menu {
    top: 15px;
    left: 25px;
}

.menu a {
    display: inline-block; /* For Firefox animations */
    margin-right: 10px;
}

.home .menu {
    position: initial;
}

.home .menu {
    margin-top: 25px;
}

.home .name {
    margin-right: 45px;
}

.mid-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-left: 50%;
    width: 40%;
}

.mid {
    /* TODO webkit prefix (maybe with gulp instead) */
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

/* Posts */
.post {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 300px;
    position: relative;
    opacity: 0;
}

.post.visible {
    opacity: 1;
}

.post aside {
    position: absolute;
    text-align: right;
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    right: calc(60% + 85px);
    padding-right: 25px;
    top: 105px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4);
}

.post aside:hover {
    opacity: 1;
}

.post aside p:first-child {
    margin-top: 5px;
}

.post section {
    width: 60%;
}

.post section .summary {
    margin-top: -37px;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.25);
    font-family: 'cnl-bold-italic', sans-serif;
    font-size: 2rem;
}

.post section img,
.post section video {
    margin: 15px 0;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,0.1);
}