html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

@font-face {
    font-family: 'cnl-bold';
    src: url(fonts/Champagne%20&%20Limousines%20Bold.woff) format('woff');
}

@font-face {
    font-family: 'cnl-bold-italic';
    src: url(fonts/Champagne%20&%20Limousines%20Bold%20Italic.woff) format('woff');
}

@font-face {
    font-family: 'Ptah';
    src: url(fonts/Ptah-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Hack';
    src: url(fonts/hack-regular-webfont.woff) format('woff');
}

body {
    font-family: 'Hack', sans-serif;
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ptah', sans-serif;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

* {
    transition: all 150ms ease-out;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0091ea;
}

.name, nav {
    position: fixed;
}

.name {
    top: 45px;
    left: 25px;
}

nav {
    top: 15px;
    left: 25px;
}

nav a {
    margin-right: 10px;
}

.is-home nav,
.is-home .name {
    top: calc(100vh / 2);
    left: calc(100% / 2 + 10%);
}

.is-home nav {
    margin-top: 35px;
}

/* Posts */
.posts {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 50vh;
}

.post {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    //min-height: 100vh;
    margin-bottom: 300px;
    position: relative;
}

.post aside {
    position: absolute;
    text-align: right;
    border-right: 5px solid rgba(0, 0, 0, 0.15);
    right: calc(60% + 85px);
    padding-right: 25px;
    top: 105px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4);
}

.post aside:hover {
    opacity: 1;
}

.post aside p:first-child {
    margin-top: 5px;
}

.post section {
    width: 60%;
}

.post section .summary {
    margin-top: -37px;
    margin-bottom: 50px;
    opacity: 0.25;
    font-family: 'cnl-bold-italic', sans-serif;
    font-size: 2rem;
}

.post section img,
.post section video {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,0.1);
}
