html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    transition: all 500ms ease-out;
}

.name, nav {
    position: absolute;
}

.name {
    top: 15px;
    left: 25px;
}

nav {
    top: 15px;
    left: calc(100% - 280px);
}

.is-home nav,
.is-home .name {
    top: calc(100vh / 2);
    left: calc(100% / 2 + 10%);
}

.is-home nav {
    margin-top: 20px;
}

.is-home .name {
    margin-bottom: 10px;
}